*,
*::after,
*::before {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Rufina", serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img,
section,
div {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-weight: normal;
}

.container {
  width: 1960px;
  margin: 0 auto;
  padding: 0 20px;
}

/* ==================== HEADER  ============================================  */

.header {
  background-color: #233000;
  padding-bottom: 100px;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 160px;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 45px;
}

.menu-btn {
  cursor: pointer;
}

.header__reservation {
  display: flex;
  gap: 26px;
  align-items: center;
}

.header__reservation-phone {
  color: #fff;
  font-size: 26px;
  font-weight: 400;
  line-height: normal;
}

.header__reservation-btn {
  background-color: transparent;
  border: 2px solid #fff;
  padding: 20px 46px;
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px; /* 150% */
  font-family: "Rufina", serif;
  transition: background 0.6s ease-in;
}

.header__reservation-btn:hover {
  background: white;
  color: #5e6600;
}

.header__main {
  margin: 250px 0 50px;
}

.main__content {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 250px;
}

.main__content-wrapper {
  position: absolute;
  top: -134px;
  left: 55px;
}

.main__content-title {
  max-width: 1057px;
  color: #fff;
  font-size: 148px;
  font-weight: 700;
  line-height: 172px;
}

.main__content-bg {
  background-image: url("../images/food/meet.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 50%;
  height: 1100px;
}

.main__content-text {
  margin-top: 50px;
  width: 565px;
  color: #fff;
  font-size: 24px;
  line-height: 140%; /* 33.6px */
  letter-spacing: 0.48px;
}

.main__content-scroll {
  color: #fff;
  font-family: Rufina;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px; /* 133.333% */
  transform: rotate(90deg);
  position: absolute;
  left: -277px;
  bottom: -420px;
}

.main__content-spice-img {
  width: 260px;
  height: 240px;
}

.main__content-spice {
  display: flex;
  gap: 40px;
  position: absolute;
  bottom: -670px;
  right: -330px;
}

.second__content {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.startDiet-left__img {
  margin-bottom: 54px;
}

.startDiet-left__title {
  color: #fff;
  width: 493px;
  height: 159px;
  font-size: 68px;
  font-style: normal;
  font-weight: 700;
  line-height: 84px; /* 123.529% */
  margin-bottom: 54px;
}

.startDiet-left__text {
  width: 565px;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 140%; /* 33.6px */
  letter-spacing: 0.48px;
}

.content__startDiet-right {
  max-width: 510px;
}

.startDiet-right__text {
  color: #fff;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 33.6px */
  letter-spacing: 0.48px;
  margin-bottom: 84px;
}

/* ==================== MENU  ============================================  */

.menu__section {
  background-color: #fff;
  background-image: url("../images/leavesBg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  padding-top: 10px;
}

.our__menu-items {
  display: grid;
  gap: 50px 200px;
  grid-template-columns: repeat(2, 1fr);
}

.our__menu-inner {
  width: 532px;
  margin: 170px 0 160px;
}

.our__menu-title {
  color: #000;
  font-size: 108px;
  font-style: normal;
  font-weight: 700;
  line-height: 120px; /* 111.111% */
}

.our__menu-text {
  color: #4d4d4d;
  font-size: 24px;
  line-height: 140%; /* 33.6px */
  letter-spacing: 0.48px;
}

.menu__item {
  max-width: 792px;
  height: 34px;
  margin-bottom: 368px;
}
.menu__item-price {
  color: #000;
  font-family: "Rufina", serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px; /* 133.333% */
  margin-left: 710px;
}

.menu__item-title {
  color: #000;
  font-size: 68px;
  line-height: 84px;
  padding: 24px 0;
}

.menu__item-subscr {
  color: #4d4d4d;
  font-size: 24px;
  line-height: 140%; /* 33.6px */
  letter-spacing: 0.48px;
}

/* ==================== COOKING  ============================================  */

.cooking {
  background-color: #ebf0e4;
}

.cooking__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 90px;
}

.cooking__picture-wrapper {
  background-image: url("../images/leaf.png");
  background-repeat: no-repeat;
  background-position: 0 50px;
  height: 380px;
  width: 420px;
}

.cooking__img {
  margin-top: -250px;
  margin-bottom: -42px;
}

.cooking__description {
  width: 650px;
  padding-top: 222px;
}

.cooking__title {
  color: #000;
  font-size: 108px;
  font-weight: 700;
  line-height: 120px; /* 111.111% */
}

.cooking__text {
  color: #4d4d4d;
  font-size: 24px;
  line-height: 140%; /* 33.6px */
  letter-spacing: 0.48px;
  margin-bottom: 30px;
}

.leaf-img {
  width: 500px;
  height: 500px;
  margin-left: 200px;
}

/* ========================== FEATURES ========================== */

.features {
  padding: 200px 0;
}

.features__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features__item {
  width: 500px;
  height: 470px;
}

.features__item-inner {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  background: #ebf0e4;
  margin: 0 auto 39px;
}

.features__item-img {
  padding: 38px;
  transition: transform 0.6s ease-in-out;
}

.features__item-img:hover {
  transform: rotate(360deg);
}

.features__item-title {
  color: #000;
  text-align: center;
  font-size: 48px;
  line-height: 64px; /* 133.333% */
  padding-bottom: 39px;
}

.features__item-text {
  color: #4d4d4d;
  text-align: center;
  font-size: 24px;
  line-height: 140%; /* 33.6px */
  letter-spacing: 0.48px;
}

/* ========================== BLOG========================== */

.blog {
  padding: 120px 0;
}

.blog__wrapper {
  display: flex;
  justify-content: space-evenly;
}

.post {
  width: 792px;
}

.post__bg {
  background-image: url("../images/posts/fruitsPost.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 792px;
  width: 792px;
  padding-top: 12px;
  margin-bottom: 68px;
}

.post__category {
  width: 204px;
  height: 62px;
  padding: 10px 30px;
  background: #5e6600;
  margin-left: 573px;
}

.post__category-text {
  color: #fff;
  font-feature-settings:
    "clig" off,
    "liga" off;
  display: block;
  text-align: center;
  font-family: Rufina;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 184.615% */
}

.post__subscr-wrapper {
  margin-left: 72px;
}

.post__author {
  width: 590px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 48px;
  color: #5e6600;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
  font-feature-settings:
    "clig" off,
    "liga" off;
}

.dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #5e6600;
}

.post__title {
  color: #000;
  font-feature-settings:
    "clig" off,
    "liga" off;

  width: 645px;
  font-family: Rufina;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 133.333% */
  border-bottom: 4px dotted #000;
  padding-bottom: 5px;
  margin-bottom: 36px;
}

.post__text {
  color: var(--4D4D4D, #4d4d4d);
  font-size: 22px;
  line-height: 140%; /* 30.8px */
  letter-spacing: 0.44px;
  margin-bottom: 46px;
}

.post__link {
  color: #000;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 33.6px */
  letter-spacing: 0.48px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 82px;
}

.post__link img {
  transition: transform 0.5s ease-in-out;
}

.post__link:hover img {
  transform: translateX(100%);
}

.post__bg-vegetables {
  background-image: url("../images/posts/vegetablesPost.jpg");
}

/* ========================== RESERVATION   ========================== */

.reservetion {
  padding: 240px 0;
  background: #ebf0e4;
}

.reservetion__title {
  text-align: center;
  color: #000;
  font-size: 108px;
  line-height: 120px; /* 111.111% */
}

.reservation__text {
  color: #4d4d4d;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 33.6px */
  letter-spacing: 0.48px;
  margin-bottom: 132px;
}

.reservetion__form {
  display: flex;
  gap: 48px;
  justify-content: center;
  align-items: center;
  margin-bottom: 132px;
}

.reservetion__form input,
.reservetion__form select {
  padding: 30px 40px;
  width: 440px;
  color: #000;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 33.6px */
  letter-spacing: 0.48px;
}

.reservation__btn {
  width: 344px;
  padding: 20px 46px;
  display: block;
  margin: 0 auto;
  border: 2px solid var(--000000, #000);
  background: var(--233000, #233000);
  color: var(--FFFFFF, #fff);
  font-family: Rufina;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 150% */
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

.reservation__btn:hover {
  background: #fff;
  color: #233000;
}

/* ========================== CATEGORY   ========================== */

.category {
  padding-top: 128px;
  padding-bottom: 190px;
}

.category__title {
  width: 1100px;
  margin: 0 auto 18px;
  color: var(--000000, #000);
  text-align: center;
  font-size: 108px;
  font-style: normal;
  font-weight: 700;
  line-height: 120px; /* 111.111% */
}

.category__text {
  text-align: center;
  margin-bottom: 126px;
}

.category__items-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.category__item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 40px;
}

.category__item-starters {
  background-image: url("../images/food/potatoBacon.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 712px;
  width: 508px;
}

.category__item-title {
  color: #233000;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px; /* 133.333% */
}

.category__item-mains {
  background-image: url("../images/food/rackOfLamp.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 712px;
  width: 508px;
}

.category__item-soups {
  background-image: url("../images/food/soup.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 712px;
  width: 508px;
}

.category__item-arrow {
  width: 48px;
  height: 28px;
}

.category__item-arrow {
  transition: transform 0.5s ease-in-out;
}

.category__link:hover img {
  transform: translateX(70%);
}

/* ========================== COMMENTS SLIDER  ========================== */

.comments__slider {
  padding-bottom: 145px;
}

.comments__slider-wrapper {
  position: relative;
}

.comment {
  background-image: url("../images/comma.png");
  background-repeat: no-repeat;
  background-position: 1146px 0px;
  margin: 0 150px;
}

.comment__text {
  width: 1262px;
  color: var(--000000, #000);
  margin-bottom: 86px;
  font-family: Rufina;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 133.333% */
}

.comment__author {
  display: flex;
  gap: 60px;
  align-items: center;
}

.comment__avatar {
  width: 170px;
  height: 170px;
  border: 1px solid black;
  border-radius: 50%;
}

.comment__author-name {
  color: var(--000000, #000);
  font-size: 32px;
  line-height: 48px; /* 150% */
}

.author__role {
  color: var(--4D4D4D, #4d4d4d);
  font-size: 18px;
  letter-spacing: 0.36px;
}

.comment__pagination {
  width: 238px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 70px;
  right: 340px;
}

.btn__left {
  transform: rotate(180deg);
  background: transparent;
  border: none;
}

.btn__right {
  background: transparent;
  border: none;
}

.comment__number {
  color: var(--000000, #000);
  font-family: Rufina;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 150% */
}

/* ========================== FOOTER   ========================== */
.footer {
  background: #233000;
  color: #fff;
}

.footer__top {
  padding: 132px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px dotted white;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
}

.footer__contacts-title {
  font-size: 32px;
  line-height: 48px; /* 150% */
  margin-bottom: 55px;
}

.footer__contacts-mail {
  margin-bottom: 28px;
}

.footer__contacts-adress {
  width: 210px;
  line-height: 25px; /* 138.889% */
  letter-spacing: 0.36px;
}

.footer__subscr-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px; /* 150% */
  margin-bottom: 55px;
}

.footer__subscr-form {
  width: 800px;
}

.footer__subscr-input {
  width: 532px;
  height: 96px;
  padding: 30px 40px;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 33.6px */
  letter-spacing: 0.48px;
  background: transparent;
  outline: none;
  border: 2px solid #fff;
  margin-right: 20px;
  margin-bottom: 10px;
}

.footer__subscr-btn {
  background: #5e6600;
  padding: 20px 46px;
  color: var(--FFFFFF, #fff);
  font-family: Rufina;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 150% */
  border: none;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

.footer__subscr-btn:hover {
  background: #fff;
  color: #5e6600;
}

.footer__subscr-text {
  color: #fff;

  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;
}

/* ====================================================================================== */

.footer__bottom {
  padding: 56px 0 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 140%; /* 33.6px */
  letter-spacing: 0.48px;
}

.footer__social-link {
  display: flex;
  gap: 28px;
  align-items: center;
}

.social-link {
  transition: transform 0.4s ease-in;
}

.social-link:hover {
  transform: translateY(-10px);
}
